.peliculas-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.pelicula-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pelicula-card img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 4px;
}

.pelicula-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pelicula-info button {
    margin-top: auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.pelicula-info button:hover {
    background-color: #0056b3;
}